@import url('https://fonts.googleapis.com/css?family=0rbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #1a2652;
    color: white;
}

.seccion-planes {
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-planes {
    font-family: 'Orbitron', sans-serif;
    color: #00ff41;
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subtitulo-planes {
    font-size: 18px;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tarjeta-plan {
    background-color: #5c7cfa; 
    background: linear-gradient(180deg, #6c88d6 0%, #516cb8 100%);
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nombre-plan {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #1a2652;
    font-weight: 900;
}

.precio-plan {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #1a2652;
    margin-bottom: 20px;
    border-bottom: 2px solid #1a2652;
    display: inline-block;
    padding-bottom: 5px;
}

.descripcion-plan {
    font-weight: bold;
    margin-bottom: 20px;
    color: #1a2652;
    min-height: 40px;
}

.lista-caracteristicas {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 14px;
    color: white;
}

.lista-caracteristicas li {
    margin-bottom: 10px;
}


.boton-plan {
    background-color: #00bf31;
    color: #1a2652;
    border: none;
    padding: 15px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-plan:hover {
    background-color: #00ff41;
}
