@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



body {
    font-family: 'orbitron', sans-serif; 
    background-color: #0d1b2a;
    color: white;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-color: #1E3A8A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.media-column{
    
    display: flex;
    justify-content: center;
}
.video-frame {
    position: relative;
    max-width: 800px;
    max-height: 800px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -25px 25px 30px rgba(0,0,0,1);
    border: 2px solid white ;
}
.video-frame video{
    max-width: auto;
    width: 800px;
}
.text-column{
    max-width: 800px;
}

.text-column h1{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: -1;
    margin-bottom: 10px;
}

.text-column p{
    font-size:20px;
    color: #cbd5e1;
    max-width: 90%;
    margin-bottom: 30px;
}

