@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.footer {
    background-color: #1a2652;
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-section {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}
.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    margin: 0px;
}
.right-section {
    text-align: right;
    font-size: 14px;
}
.copyright {
    margin: 0 0 5px 0;
}
.footer-links a {
    color:white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
}
.footer-links a:hover{
    text-decoration: underline;
}
