@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "orbitron", sans-serif;
    font-size: 20px;
}

body{
    background-color: #1D3270;
}

.header{
    background-color: #1D3270;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 3px 20%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 90px  ;
    width: auto;
    transition: all 0.3s;
}
    .header .name{
}
.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style:none;
}

.header .nav-links li{
    display:inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}


.header .nav-links a{
    font-size: 15px;
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 500;
}

.header .nav-links li a:hover{
    color: #00B453;
}

.header .btr button{
    font-weight: 700;
    color: #1D3270;
    padding: 5px 5px;
    background: #00D068;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 1s ease ;
}

.header .btr button:hover{
    background-color: #F5F5F5;
    color:#00D068;
    transform: scale(1.1);
}