@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "orbitron", sans-serif;
}

body {
    background-color: #0d1b2a;
    color: white;
    font-size: 16px; 
}


.header {
    background-color: #1D3270;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 20px;
    position: relative;
    z-index: 100; 
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 60px;
    width: auto;
    left: 120px;
    top: 11px;
    transition: all 0.3s;
    position: absolute;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .name {
    text-decoration: none;
    color: #F5F5F5;
    list-style: none;
    position: absolute;
    left: 100px;
    top: 15px; 
    font-weight: 800;
    font-size: 25px;
}

.header .nav-links {
    list-style: none;
    position: absolute;
    right: 400px;
    top: 32px;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700; 
    color: #F5F5F5;
    text-decoration: none;
    font-size: 16px;
}

.header .nav-links li a:hover {
    color: #00D068;
}

.header .btr button {
    font-weight: 800;
    color: #1D3270;
    padding: 9px 20px;
    background: #00D068;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.header .btr button:hover {
    background-color: #F5F5F5;
    color: #00D068;
    transform: scale(1.1);
}


.body .hero{
    position: relative;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-color: #1E3A8A;
    display: flex;
    align-items: center;
    justify-content: center;   
    position: relative; 
    padding-bottom: 50px; 
}


.hero .container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.media-column{
    display: flex;
    justify-content: center;
}

.video-frame {
    position: relative;
    max-width: 800px;
    max-height: 800px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -25px 25px 30px rgba(0,0,0,1);
    border: 2px solid white ;
}

.video-frame video{
    max-width: auto;
    width: 700px;
}

.text-column{
    max-width: 800px;
}

.text-column h1{
    font-size: 46px;
    position:absolute;
    top: 160px;
    font-weight: bolder;
    letter-spacing: -1;
    margin-bottom: 10px;
    display: flex;
}

.text-column p{
    font-size:23px;
    position: absolute;
    top: 50px;
    color: white;
    max-width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.btn{
    padding: 20px 20px;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    font-family: 'orbitron', sans-serif; 
    background-color: #00D068;
    color: #1E3A8A;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: -6px 6px 15px black;
    position: absolute;
    bottom: 150px;
    right: 250px;
}


.btn:hover{
    background-color: white;
    color: #00D068;
    transform: scale(1.1,1.1)
}

main {
    flex: 1;
}


.footer {
    background-color: #1a2652;
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}


.footer .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-section {
    display: flex;
    align-items: center;
}


.footer .logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}


.footer .title {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    margin: 0px;
}

.right-section {
    text-align: right;
    font-size: 14px;
}

.copyright {
    margin: 0 0 5px 0;
}

.footer-links a {
    color:white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
}

.footer-links a:hover{
    text-decoration: underline;
}