@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #1E3A8A;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: #444444;
    color: #D9E4FF;
    padding: 30px 40px;
    border-radius: 5px;
    width: 700px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #F5F5F5;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.subtitle {
    font-family: 'exo 2', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.4;
    color: #F5F5F5;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group.full-width {
    flex: none;
    width: 100%;
    margin-bottom: 25px;
}

label {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #F5F5F5;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
textarea {
    background-color: #D9D9D9;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 3px;
    color: #4444F2;
    outline: none;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

input::placeholder, textarea::placeholder {
    color: #7D7D7D;
    font-family: 'IBM Plex Sans', sans-serif;
}

.submit-button {
    background-color: #00B453;
    color: #1E3A8A;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.submit-button:hover {
background-color: #00D068;
}
