@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'orbitron', sans-serif; 
    color: white;
}

.hero {
    width: 100%;
    background-color: #1c2e6e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.media-column {
    flex:1;
    display: flex;
    justify-content: center;
}

.video-frame{
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5); 
    border: 2px solid white;
    
    
.video-frame {
width: 100%;
max-width: 600px;
}




