@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap');

.how-it-works {
    background-color: #1e3a8a;
    color: #ffffff;
    padding: 60px 20px;
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
}

.how-it-works .container {
    max-width: 900px;
    margin: 0 auto;
}

.how-it-works h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

.how-it-works .subtitle {
    font-size: 1.1em;
    font-family: 'Exo 2', sans-serif; 
    margin-bottom: 50px;
    line-height: 1.5;
    color: #e0e0e0; 
}

.how-it-works .step {
    display: flex;
    align-items: center; 
    margin-bottom: 30px;
    text-align: left;
}

.how-it-works .text-content {
    margin-left: 20px; 
}

.how-it-works .step:last-child {
    margin-bottom: 0;
}

.how-it-works .text-content h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 5px;
    color: #32cd32; 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight: 1200; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.how-it-works .text-content p {
    font-size: 1em;
    line-height: 1.4;
    color: #ffffff;
    font-family: 'Exo 2', Times, serif; 
}