@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "orbitron", sans-serif;
    font-size: 20px;
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #1D3270;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
<<<<<<< HEAD
    padding: 5px 10px;
    position:relative
=======
    padding: 5px 20px;
    position:relative;
>>>>>>> 753b0e766723e4de695a8dd33a4661530bf422fc
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 100px;
    width: auto;
    left: 120px;
    top: -7px;
    transition: all 0.3s;
    position: absolute;
}
    .header .name{
    text-decoration: none;
    color: #F5F5F5;
    list-style: none;
    position:absolute;
    left: 100px;
    top: 15px;
    font-weight: 800;

}
.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style:none;
}

.header .nav-links li{
    display:inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}


.header .nav-links a{
    font-size: 700;
    color: #F5F5F5;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #00B453;
}

.header .btr button{
    font-weight: 700;
    color: #1D3270;
    padding: 9px 25px;
    background: #00D068;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0 ;
    font-weight: 800;
}

.header .btr button:hover{
    background-color: #F5F5F5;
    color:#00D068;
    transform: scale(1.1);
}