@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: #1a2652;
    color: white;
    padding: 30px 0;
    width: 100%;
}
.contenedor-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.caja-izquieda {
    display: flex;
    align-items: center;
}
.mi-logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
}
.caja-izquieda h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    margin: 0;
}
.caja-derecha {
    text-align: right;
    font-size: 12px;
}
.caja-derecha p {
    margin: 0 0 5px o;
}
.link a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
.link a:hover {
    text-decoration: underline;
}