@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "orbitron", sans-serif;
    
    font-size: 16px; 
}

body{
    
    background-color: #1D3270; 
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header{
    background-color: #1D3270;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 20px;
    position:relative;
    border-bottom: 1px solid rgba(255,255,255,0.1); 
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width: auto;
    left: 120px;
    top: 11px;
    transition: all 0.3s;
    position: absolute;
}
.header .name{
    text-decoration: none;
    color: #F5F5F5;
    list-style: none;
    position:absolute;
    left: 100px; 
    top: 15px;   
    font-weight: 800;
    font-size: 25px;
}
.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style:none;
    position: absolute;
    right: 400px; 
    top: 32px;
}

.header .nav-links li{
    display:inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-weight: 700;
    color: #F5F5F5;
    text-decoration: none;
    font-size: 16px;
}

.header .nav-links li a:hover{
    color: #00D068; /* Tu verde */
}

.header .btr button{
    font-weight: 700;
    color: #1D3270;
    padding: 9px 20px;
    background: #00D068;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0 ;
    font-weight: 800;
}

.header .btr button:hover{
    background-color: #F5F5F5;
    color:#00D068;
    transform: scale(1.1);
}

main {
    flex: 1;
    display: flex;         
    justify-content: center;
    width: 100%;
}


.footer {
    background-color: #15234d; 
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-section {
    display: flex;
    align-items: center;
}
.footer .logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}
.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    margin: 0px;
}
.right-section {
    text-align: right;
    font-size: 14px;
}
.copyright {
    margin: 0 0 5px 0;
}
.footer-links a {
    color:white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
}
.footer-links a:hover{
    text-decoration: underline;
}


.static-layout {
    width: 1300px; 
    margin: 0 auto;
    padding: 40px 0;
}


